# Gradle
# ------
.gradle
/build
/*/build
/*/*/build
/*/*/*/build
/*/*/*/*/build
/*/docs/src/samples/**/build
/*/docs/src/snippets/**/build
test-splits/

# IDEA
# ----
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/icon.png
!/.idea/icon_dark.png
*/**/.idea
*/**/.shelf
.shelf
/*.iml
/*/*.iml
/*/*/*.iml
/*/*/*/*.iml
/*/*/*/*/*.iml
/out
/*/out
/*/*/out
/*/*/*/out
/*/*/*/*/out
/.teamcity/target
/gradle.ipr
/gradle.iws

/.aws-sam/*